/* 浅灰 */
$littleGray: #F7F8FA;

/* 中等灰 */
$mediumGray: #F3F3F3;

/* 灰色 */
$gray: #ccc;

/* 基本字体颜色 */
$themeFont: #4a4a4a;

/* 选中绿色字体 */
$blueColor: #427def;

/* 白色背景 */
$whiteBg: #FFF;

/* 白色字体 */
$whiteColor: #FFF;

/* 红色字体 */
$redColor: #ff0036;

/* 咖啡色字 */
$coffeColor: #806f66;
